.navbar{
    height: 5rem;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}
.social-info a{
    text-decoration: none;
    color: #222222;
}

.social-info a:hover{
    text-decoration: underline;
}

.social{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.social-link{
    width: 100%;
    font-size: 1.5rem;
}
.social-info, .social-link, .social-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-link i{
    margin-right:1rem ;
}

/* Card */
.card{
    border: none !important;
    margin-bottom:1rem ;
    width: 18rem !important;
    text-decoration: none !important;
}

#idx-img{
    border-radius: 1rem !important;
    /* width: 100% !important; */
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-width: 400 !important;
    color: #222222;
    
}
.card-v {
    display:flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
    margin-top: 2.5rem !important;
}


.card-v a{
    text-decoration: none;
}

.card-v a:hover {
    text-decoration: underline;
    color: #222222;
}

#idx-img:hover{
    opacity: 0.9;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show image */
.show-div{
    display: flex;
    justify-content:center ;
    /* flex-direction: column; */
}

.show-img-div img{
    margin:3rem 0rem 2rem 0 ;
    height: 60vh;
    object-fit: cover;
    border-radius: 2rem;

}

.show-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
    border: 0 !important;
    border-radius: 4px;
    font-weight: 600;
}

.idx-btn form{
    display: flex;
    justify-content: center;

}